body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    /* background-image: url("https://i.pinimg.com/736x/86/73/13/867313b92a7183d1f5726024268a3671.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    
}
.container {
    margin-top: 100px;
    width: 250px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
}
.color-box {
    width: 100px;
    height: 100px;
    margin: 10px auto;
    border: 1px solid #ccc;
}
.color-info {
    margin-top: 10px;
    font-weight: bold;
    cursor: pointer;
}